.app{
    background-color: #09033C;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    background-image: url('./Assets/explore-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}